@model IEnumerable<VetAmbulance.BL.Models.Drug>

@{
    ViewData["Title"] = "Drugs";
}

<h1>Drug list</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Detail", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
